In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as rq
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
site = rq.get('http://www.in.gov.br/en/web/dou/-/ato-cotepe/pmpf-n-22-de-9-de-julho-de-2020-266121128')

if site.status_code == 200:
    print('Requisição bem sucedida!')
    content = site.content

soup = BeautifulSoup(content, 'html.parser')
table = soup.find_all('table')

table_str = str(table)
confaz = pd.read_html(table_str)[0]


confaz.rename(columns={'Unnamed: 0':'Contador', 'Unnamed: 1':'UF', 
                       'Unnamed: 2':'GAC', 'Unnamed: 3':'GAP', 
                       'Unnamed: 4':'DIESEL S10','Unnamed: 5':'ÓLEO DIESEL', 
                       'Unnamed: 6':'GLP(P13)', 'Unnamed: 7':'GLP',
                       'Unnamed: 8':'QAV', 'Unnamed: 9':'AEHC', 
                       'Unnamed: 10':'GNV', 'Unnamed: 11':'GNI', 
                       'Unnamed: 12':'ÓLEO COMBUSTÍVEL','Unnamed: 13':'Vazio'},
              inplace=True)

confaz_padrao = confaz.drop([0,1,2])
confaz_final = confaz_padrao.drop(columns=["GLP(P13)","GLP","QAV","GNV","GNI",
                                           "ÓLEO COMBUSTÍVEL","Vazio"])
confaz_final.head()

Requisição bem sucedida!

  Contador  UF       GAC       GAP DIESEL S10 ÓLEO DIESEL      AEHC
3        1  AC   *4,7386   *4,7386    *4,0829     *4,0459  **3,7114
4        2  AL   *4,3354   *4,3961    *3,5068     *3,3903   *3,3981
5        3  AM  **3,8995  **3,8995   **3,3954    **3,1983  **3,2085
6        4  AP   *3,2780   *3,2780    *3,4270     *3,3470  **3,6900
7        5  BA     44020     52000      33930       33410     34070